@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600;700&display=swap');

body {
  background-color: black;
  font-family: 'Baloo Bhaijaan 2', cursive;
}

.primary {
  font-size: 4rem;
}

.secondary {
  font-size: 2rem;
}

.subHeading {
  color: #f2d99e;
}

/* #a08c5b */
.navbar {
  display: flex;
  /* flex-wrap: nowrap; */
  color: #f3c654;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem;
  /* text-shadow: 2px 2px 1px #f7c232; */
  border-bottom: 1px solid white;
}

.searchBox {
  width: 20rem;
}

.searchBox input {
  font-size: 1.2rem;
  border-radius: 15px;
  padding: 4px 6px;
  width: 20rem;
  color: #f2d99e;
  background-color: #1a1712;
}

.horizontal-scroll {
  /* overflow-y: hidden; */
  overflow-x: auto;
  white-space: nowrap;
  /* background-color: rgb(22, 22, 21); */

}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.img-container {
  position: relative;
  transition: transform 0.2s;
  display: inline-block;
  /* width: 70%; */
  /* height: 70%; */
  transform: scale(0.8);
  justify-content: center;
}



.img-container:hover {
  cursor: pointer;
  transform: scale(1.0);
}

.img-container:hover .favourite {
  opacity: 1;
}

.favourite {
  position: absolute;
  background: rgba(17, 17, 17, 0.8);
  width: 100%;
  opacity: 0;
  font-size: 20px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}